body {
	margin-bottom: 50px;
	background: none;
}

.full {
  width: 100%;
  height: 100vh;
  background: url(../img/1920-1080.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-text {
    margin-top: 50px;
}